.page {
  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
}

.feed {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 2rem;
  margin: 2rem auto 0;
  animation: divOpacity 0.5s ease-in-out;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 65%;
  padding: 4rem;
  padding-bottom: 1rem;
  border-left: $skyblue-color 0.5rem solid;
  border-right: $skyblue-color 0.5rem solid;
  border-bottom: $border-bottom-color 0.2rem solid;
  border-top: $border-bottom-color 0.2rem solid;
  border-radius: 2rem;
  margin-bottom: 2rem;
  animation: divOpacity 1s ease-in-out;
  transition: all 0.3s ease-in-out;


  &__content {
    padding: 1rem;
    font-size: 2.2rem;
    font-weight: 450;
    margin-bottom: 1rem;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    flex-direction: column;
  }

  &__author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 2rem;

    &__name {
      font-size: 1.4rem;
      font-weight: 600;
    }

    &__username {
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 0.5rem;
      color: #6f6e6e;
    }
  }

  &__date {
    display: flex;
    align-items: start;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1rem;
    width: 100%;

    &__name {
      font-size: 1.2rem;
      font-weight: 500;
    }

  }

  &__likes-container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;


    //width: 80%;

    &__button__like {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7rem;
      height: 3.5rem;
      border-radius: 1rem;
      border: 0.1rem solid $skyblue-color;
      padding: 0.5rem;
      background-color: white;
      color: black;
      font-size: 1.7rem;
      font-weight: 600;
      margin-right: 1rem;
      margin-top: 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: white;
        box-shadow: 0 0 0 0.2rem $skyblue-color;
      }
    }

    &__like {
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 0.5rem;
      cursor: pointer;
      color: $skyblue-color;
      transition: all 1s ease-in-out;
    }

    &__like-amount {
      //color: $skyblue-color;
      font-size: 1.5rem;
      margin: auto;
      width: 3rem;
      height: 1rem;
      text-align: left;
    }
  }
}
