.page {
  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 2rem;
  margin: 2rem auto 0;
  animation: divOpacity 0.5s ease-in-out;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 65%;
  padding: 4rem;
  border-left: $skyblue-color 0.5rem solid;
  border-right: $skyblue-color 0.5rem solid;
  border-bottom: $border-bottom-color 0.2rem solid;
  border-top: $border-bottom-color 0.2rem solid;
  border-radius: 2rem;
  margin-bottom: 2rem;
  animation: divOpacity 1s ease-in-out;
  transition: all 0.3s ease-in-out;


  &__content {
    padding: 1rem;
    font-size: 2.2rem;
    font-weight: 450;
    margin-bottom: 1rem;
  }

  &__author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 2rem;

    &__name {
      font-size: 1.4rem;
      font-weight: 600;
    }

    &__username {
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 0.5rem;
      color: #6f6e6e;
    }
  }

  &__date {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1rem;

    &__name {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
