.page {
  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 2rem;
  margin: 2rem auto 0;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  border-left: $border-sides-color 0.5rem solid;
  border-right: $border-sides-color 0.5rem solid;
  border-bottom: $border-bottom-color 0.2rem solid;
  border-top: $border-bottom-color 0.2rem solid;
  border-radius: 0.5rem;
  margin-bottom: 2rem;

  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__content {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 2rem;

    &__name {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }

  &__date {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 1rem;

    &__name {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
