.form__register {
  margin: auto;
  margin-top: 7rem;
  height: 50rem;
  width: 65rem;
  background-color: $skyblue-color;
  border-radius: 1rem;
  box-shadow: rgb(37, 97, 243) 0 0.5rem 1.5rem;
  transition: all 0.3s ease-in-out;
  animation: divOpacity 1s ease-in-out;


  &:focus {
    outline: none;
    background-color: $main-color;
  }
}

.button__next {
  margin-top: 5rem;
  width: 35rem;
  height: 5rem;
  border: none;
  background-color: #ffffff;
  color: #080710;
  font-size: 1.9rem;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:focus {
    background-color: #90EE90;
  }

  &:hover {
    color: $skyblue-color;
  }
}

.input__animation__left {
  animation: moveInLeft 2s ease-out;
}

.input__animation__right {
  animation: moveInRight 2s ease-out;
}

.text__animation__opacity {
  animation: textOpacity 2s ease-out;
}

#login__button__register {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  width: 20rem;
  height: 4rem;
  border: none;
  background-color: white;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: black;
  }
}
